						<articleclass="post type-post hentry">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="http://wp-themes.com/?p=19" title="Permalink to Worth A Thousand Words" rel="bookmark">Worth A Thousand Words</a>
								</h1>
							</header><!-- .entry-header -->

							<div class="entry-content">
								<div class="wp-caption alignnone" style="width: 445px">
									<img class="wp-image-59" alt="Boat" src="http://wpdotorg.files.wordpress.com/2008/11/boat.jpg" width="435" height="288">
									<p class="wp-caption-text">Boat</p>
								</div>
								<p>Boat.</p>
							</div><!-- .entry-content -->

							<footer class="entry-meta">
								This entry was posted in <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a> and tagged <a href="http://wp-themes.com/?tag=boat" rel="tag">boat</a>, <a href="http://wp-themes.com/?tag=lake" rel="tag">lake</a> on <a href="http://wp-themes.com/?p=19" title="4:33 am" rel="bookmark"><time class="entry-date" datetime="2008-10-17T04:33:51+00:00">17 October, 2008</time></a><span class="by-author"> by <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin" rel="author">Theme Admin</a></span></span>.
							</footer><!-- .entry-meta -->
						</article><!-- #post -->

						<article class="post type-post hentry">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="http://wp-themes.com/?p=36" title="Permalink to Elements" rel="bookmark">Elements</a>
								</h1>
							</header><!-- .entry-header -->

							<div class="entry-content">
								<p><!-- Sample Content to Plugin to Template --></p>
								<p>The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site.</p>
								<hr>
								<h1>Heading 1</h1>
								<h2>Heading 2</h2>
								<h3>Heading 3</h3>
								<h4>Heading 4</h4>
								<h5>Heading 5</h5>
								<h6>Heading 6</h6>
								<p><small><a href="#wrapper">[top]</a></small></p>
								<hr>
								<h2 id="paragraph">Paragraph</h2>
								<p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
								<p>Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
								<p><small><a href="#wrapper">[top]</a></small></p>
								<hr>
								<h2 id="list_types">List Types</h2>
								<h3>Definition List</h3>
								<dl>
									<dt>Definition List Title</dt>
									<dd>This is a definition list division.</dd>
								</dl>
								<h3>Ordered List</h3>
								<ol>
									<li>List Item 1</li>
									<li>List Item 2</li>
									<li>List Item 3</li>
								</ol>
								<h3>Unordered List</h3>
								<ul>
									<li>List Item 1</li>
									<li>List Item 2</li>
									<li>List Item 3</li>
								</ul>
								<p><small><a href="#wrapper">[top]</a></small></p>
								<hr>
								<h2 id="form_elements">Forms</h2>
								<fieldset>
									<legend>Legend</legend>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.</p>
									<form>
										<h2>Form Element</h2>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.</p>
										<p>
											<label for="text_field">Text Field:</label><br>
											<input type="text" id="text_field">
										</p>
										<p>
											<label for="text_area">Text Area:</label><br>
											<textarea id="text_area"></textarea>
										</p>
										<p><label for="select_element">Select Element:</label></p>
										<select name="select_element">
											<optgroup label="Option Group 1">
												<option value="1">Option 1</option>
												<option value="2">Option 2</option>
												<option value="3">Option 3</option>
											</optgroup>
											<optgroup label="Option Group 2">
												<option value="1">Option 1</option>
												<option value="2">Option 2</option>
												<option value="3">Option 3</option>
											</optgroup>
										</select>
										<p></p>
										<p><label for="radio_buttons">Radio Buttons:</label></p>
										<p>			<input type="radio" class="radio" name="radio_button" value="radio_1"> Radio 1<br><br>
											<input type="radio" class="radio" name="radio_button" value="radio_2"> Radio 2<br><br>
											<input type="radio" class="radio" name="radio_button" value="radio_3"> Radio 3<br>
										</p>
										<p><label for="checkboxes">Checkboxes:</label></p>
										<p>			<input type="checkbox" class="checkbox" name="checkboxes" value="check_1"> Radio 1<br><br>
											<input type="checkbox" class="checkbox" name="checkboxes" value="check_2"> Radio 2<br><br>
											<input type="checkbox" class="checkbox" name="checkboxes" value="check_3"> Radio 3<br>
										</p>
										<p><label for="password">Password:</label></p>
										<p>
											<input type="password" class="password" name="password">
										</p>
										<p><label for="file">File Input:</label><br>
											<input type="file" class="file" name="file">
										</p>
										<p>
											<input class="button" type="reset" value="Clear"> <input class="button" type="submit" value="Submit">
										</p>
										<p></p>
									</form>
								</fieldset>
								<p><small><a href="#wrapper">[top]</a></small></p>
								<hr>
								<h2 id="tables">Tables</h2>
								<table cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<th>Table Header 1</th>
											<th>Table Header 2</th>
											<th>Table Header 3</th>
										</tr>
										<tr>
											<td>Division 1</td>
											<td>Division 2</td>
											<td>Division 3</td>
										</tr>
										<tr class="even">
											<td>Division 1</td>
											<td>Division 2</td>
											<td>Division 3</td>
										</tr>
										<tr>
											<td>Division 1</td>
											<td>Division 2</td>
											<td>Division 3</td>
										</tr>
									</tbody>
								</table>
								<p><small><a href="#wrapper">[top]</a></small></p>
								<hr>
								<h2 id="misc">Misc Stuff – abbr, acronym, pre, code, sub, sup, etc.</h2>
								<p>
									Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <cite>cite</cite>. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. <acronym title="National Basketball Association">NBA</acronym> Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.  <abbr title="Avenue">AVE</abbr>
								</p>
								<pre>
									<p>
										Lorem ipsum dolor sit amet,
										consectetuer adipiscing elit.
										Nullam dignissim convallis est.
										Quisque aliquam. Donec faucibus.
										Nunc iaculis suscipit dui.
										Nam sit amet sem.
										Aliquam libero nisi, imperdiet at,
										tincidunt nec, gravida vehicula,
										nisl.
										Praesent mattis, massa quis
										luctus fermentum, turpis mi
										volutpat justo, eu volutpat
										enim diam eget metus.
										Maecenas ornare tortor.
										Donec sed tellus eget sapien
										fringilla nonummy.
										<acronym title="National Basketball Association">NBA</acronym>
										Mauris a ante. Suspendisse
										quam sem, consequat at,
										commodo vitae, feugiat in,
										nunc. Morbi imperdiet augue
										quis tellus.
										<abbr title="Avenue">AVE</abbr>
									</p>
								</pre>
								<blockquote>
									<p>
										“This stylesheet is going to help so freaking much.” <br>-Blockquote
									</p>
								</blockquote>
								<p>
									<small><a href="#wrapper">[top]</a></small><br>
									<!-- End of Sample Content -->
								</p>
							</div><!-- .entry-content -->

							<footer class="entry-meta">
								This entry was posted in <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a> on <a href="http://wp-themes.com/?p=36" title="7:39 pm" rel="bookmark"><time class="entry-date" datetime="2008-09-05T19:39:12+00:00">5 September, 2008</time></a><span class="by-author"> by <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin" rel="author">Theme Admin</a></span></span>.
							</footer><!-- .entry-meta -->
						</article><!-- #post -->

						<article class="post type-post hentry">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="http://wp-themes.com/?p=14" title="Permalink to More Tags" rel="bookmark">More Tags</a>
								</h1>
								<div class="comments-link">
									<a href="http://wp-themes.com/?p=14#respond" title="Comment on More Tags"><span class="leave-reply">Leave a reply</span></a>
								</div><!-- .comments-link -->
							</header><!-- .entry-header -->

							<div class="entry-content">
								<p>More of these posts need tags.</p>
							</div><!-- .entry-content -->

							<footer class="entry-meta">
								This entry was posted in <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a> and tagged <a href="http://wp-themes.com/?tag=wordpress" rel="tag">wordpress</a> on <a href="http://wp-themes.com/?p=14" title="12:09 am" rel="bookmark"><time class="entry-date" datetime="2008-06-21T00:09:24+00:00">21 June, 2008</time></a><span class="by-author"> by <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin" rel="author">Theme Admin</a></span></span>.
							</footer><!-- .entry-meta -->
						</article><!-- #post -->

						<article class="post type-post hentry">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="http://wp-themes.com/?p=8" title="Permalink to HTML" rel="bookmark">HTML</a>
								</h1>
								<div class="comments-link">
									<a href="http://wp-themes.com/?p=8#comments" title="Comment on HTML">1 Reply</a>
								</div><!-- .comments-link -->
							</header><!-- .entry-header -->

							<div class="entry-content">
								<p>What HTML tags would you like to see?</p>
								<p>Let’s start with an unordered list:</p>
								<ul>
									<li>One</li>
									<li>Two</li>
									<li>Three</li>
									<li>Four</li>
								</ul>
								<p>And then move on to a more interesting ordered list:</p>
								<ol>
									<li>one, two
										<ol>
											<li>buckle my shoe</li>
										</ol>
									</li>
									<li>three, four
										<ol>
											<li>knock at the door</li>
										</ol>
									</li>
									<li>Five, six
										<ol>
											<li>pick up sticks</li>
										</ol>
									</li>
									<li>Seven, eight, lay them straight
										<ol>
											<li>Nine, ten, a big fat hen</li>
											<li>Eleven, twelve, dig and delve</li>
											<li>Thirteen, fourteen, maids a’courting</li>
											<li>Fifteen, sixteen, maids in the kitchen</li>
											<li>Seventeen, eighteen, maids a’waiting</li>
											<li>Nineteen, twenty, my platter’s empty …</li>
										</ol>
									</li>
								</ol>
							</div><!-- .entry-content -->

							<footer class="entry-meta">
								This entry was posted in <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a> and tagged <a href="http://wp-themes.com/?tag=html" rel="tag">html</a>, <a href="http://wp-themes.com/?tag=wordpress" rel="tag">wordpress</a> on <a href="http://wp-themes.com/?p=8" title="12:04 am" rel="bookmark"><time class="entry-date" datetime="2008-06-21T00:04:53+00:00">21 June, 2008</time></a><span class="by-author"> by <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin" rel="author">Theme Admin</a></span></span>.
							</footer><!-- .entry-meta -->
						</article><!-- #post -->

						<article class="post type-post hentry">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="http://wp-themes.com/?p=6" title="Permalink to Links" rel="bookmark">Links</a>
								</h1>
							</header><!-- .entry-header -->

							<div class="entry-content">
								<p>
									A few well known WordPress links: <a href="http://wordpress.org/">WordPress.org</a>, <a href="http://codex.wordpress.org/Main_Page">the Codex</a> and <a href="http://wordpress.org/download/">the download page</a>.
								</p>
							</div><!-- .entry-content -->

							<footer class="entry-meta">
								This entry was posted in <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a> on <a href="http://wp-themes.com/?p=6" title="8:06 pm" rel="bookmark"><time class="entry-date" datetime="2008-06-20T20:06:53+00:00">20 June, 2008</time></a><span class="by-author"> by <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin" rel="author">Theme Admin</a></span></span>.
							</footer><!-- .entry-meta -->
						</article><!-- #post -->

						<article class="post type-post hentry">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="http://wp-themes.com/?p=4" title="Permalink to Category Hierarchy" rel="bookmark">Category Hierarchy</a>
								</h1>
							</header><!-- .entry-header -->

							<div class="entry-content">
								<p>This post has 4 categories, part of a hierarchy that is 3 deep.</p>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce euismod commodo ante. Suspendisse potenti. Nunc pellentesque quam vel pede. Ut a lorem non urna molestie euismod. Fusce consequat tortor eu urna. Pellentesque aliquam, pede eget tincidunt feugiat, nunc massa hendrerit magna, non ultricies neque lectus nec dui. In hac habitasse platea dictumst. Sed feugiat quam eget lectus. Fusce at pede. Morbi sagittis tristique tortor. Sed erat justo, blandit ac, dignissim in, pretium ut, urna.</p>
							</div><!-- .entry-content -->

							<footer class="entry-meta">
								This entry was posted in <a href="http://wp-themes.com/?cat=6" title="View all posts in First Child Category" rel="category">First Child Category</a>, <a href="http://wp-themes.com/?cat=8" title="View all posts in One Grandchild Category" rel="category">One Grandchild Category</a>, <a href="http://wp-themes.com/?cat=5" title="View all posts in Parent" rel="category">Parent</a>, <a href="http://wp-themes.com/?cat=7" title="View all posts in Second Child Category" rel="category">Second Child Category</a> on <a href="http://wp-themes.com/?p=4" title="7:59 pm" rel="bookmark"><time class="entry-date" datetime="2008-06-20T19:59:54+00:00">20 June, 2008</time></a><span class="by-author"> by <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin" rel="author">Theme Admin</a></span></span>.
							</footer><!-- .entry-meta -->
						</article><!-- #post -->

						<article class="post type-post hentry">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="http://wp-themes.com/?p=1" title="Permalink to Hello world!" rel="bookmark">Hello world!</a>
								</h1>
								<div class="comments-link">
									<a href="http://wp-themes.com/?p=1#comments" title="Comment on Hello world!">2 Replies</a>
								</div><!-- .comments-link -->
							</header><!-- .entry-header -->

							<div class="entry-content">
								<p>Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!</p>
							</div><!-- .entry-content -->

							<footer class="entry-meta">
								This entry was posted in <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a> on <a href="http://wp-themes.com/?p=1" title="10:40 pm" rel="bookmark"><time class="entry-date" datetime="2008-06-04T22:40:06+00:00">4 June, 2008</time></a><span class="by-author"> by <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin" rel="author">Theme Admin</a></span></span>.
							</footer><!-- .entry-meta -->
						</article><!-- #post -->
