---
layout: default
body: full-width template-front-page
comments: false
---
{% capture title %}{{ page.year }}{% endcapture %}
{% capture lead %}Posts from the year {{ page.year }}{% endcapture %}
{% capture content %}
  {% for m in (1..12) reversed %}
    {% if page.collated_posts[page.year][m] %}
      <h4>{{ m | number_to_month }}</h4>
      <ul>
      {% for d in (1..31) reversed %}
        {% if page.collated_posts[page.year][m][d] %}
          {% for p in page.collated_posts[page.year][m][d] reversed %}
            <li><strong>{{ p.date | date: "%d" }}</strong> <a href='{{ p.url }}'>{{ p.title }}</a></li>
          {% endfor %}
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endcapture %}
{% include post.html %}
