---
layout: home
title: Jose Diaz-Gonzalez
is_nav: '/'
body: template-front-page
---

{% for post in site.posts limit: 1 %}
<article class="type-post sticky">
<!--
<div class="featured-post">
    Featured post
  </div>
-->

  <header class="entry-header">
    <h1 class="entry-title">
      {{ post.title }}
    </h1>
  </header>

  <div class="entry-content">
    <p>{{ post.description }}</p>
    <a class="more-link" href="{{ post.url }}">{{ site.excerpt_link }}</a>
  </div>
</article>
{% endfor %}

<div class="widget-area" role="complementary">
  {% for post in site.posts limit: 2 offset: 1 %}
    <article class="widget type-post">
      <header class="entry-header">
        <h1 class="entry-title">
          {{ post.title }}
        </h1>
      </header>

      <div class="entry-content">
        <p>{{ post.description }}</p>
        <a class="more-link" href="{{ post.url }}">{{ site.excerpt_link }}</a>
      </div>
    </article>
  {% endfor %}
</div>
